body,
html {
    background-color: #151515;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.xterm-viewport::-webkit-scrollbar {
    display: none;
}

.xterm .xterm-screen {
    margin-left: auto;
    margin-right: auto;
}

#terminal-wrapper {
    box-sizing: border-box;
}